/* SCSS HSL */
$thistle: hsl(260, 27%, 76%);
$purple-mountain-majesty: hsla(270, 24%, 61%, 1);
$rich-black-fogra-29: hsla(206, 70%, 8%, 1);
$purple: hsl(245, 73%, 62%);
$oxford-blue: hsl(218, 70%, 18%);

.main-nav-toggle {
    display: none;

    &:checked ~ .main-header .main-header__main-nav-container {
        display: block;
        order: 3;
    }
}

.main-nav-cart-toggle {
    display: none;

    &:checked ~ .main-header .main-header__cart-container {
        display: block;
    }
}


