
<div class="contact__main-container">
    <div class="contact__main-head-container">
        <h1 class="contact__main-contacto-title">Contacto</h1>
        <p class="contact__main-contacto-text">Si tienes alguna duda o sugerencia, no dudes en contactarnos.</p>
    </div>
    <div class="contact__main-form-container">
        <form action="contacto.html" method="POST" class="">
            <div class="contact__main-form-subgroup-1">
                <div class="contact__main-form-subgroup-2">
                    <div class="contact__main-form-group-container-1">
                        <label for="name" class="contact__main-form-label">Nombre</label>
                        <input type="text" name="name" id="name" class="contact__main-form-input" placeholder="Nombre" required>
                    </div>
                    <div class="contact__main-form-group-container-2">
                        <label for="email" class="contact__main-form-label">Email</label>
                        <input type="email" name="email" id="email" class="contact__main-form-input" placeholder="Email" required>
                    </div>
                </div>
                <div class="contact__main-form-group-container-3">
                    <label for="message" class="contact__main-form-label">Mensaje</label>
                    <textarea name="message" id="message" cols="30" rows="2" class="contact__main-form-input-textarea" placeholder="Escribinos tu mensaje!" required></textarea>
                </div>
            </div>    
            <div>
                <div class="contact__main-form-group-container-4">
                    <input type="submit" value="Enviar" class="contact__main-form-input-submit">
                    <input type="reset" value="Borrar" class="contact__main-form-input-reset">
                </div>
            </div>
        </form>
    </div>
</div