
<section class="nosotros">
    <div class="nosotros__container">
        <h1 class="nosotros__title">Nosotros</h1>
        <p class="nosotros__text">¡Bienvenidos a la Jugueteria Cosmica
            Te contamos un poco acerca de nosotros.
            
            Somos una empresa familiar con más de 30 años de trayectoria, dedicada al rubro de juguetería y artículos para la astronomía.
            
            Empezamos con un pueño local familiar y hoy contamos con 10 sucursales ubicadas en Capital Federal y en Gran Buenos Aires.
            
            Hemos desarrollado con nuestra experiencia, la capacidad de obtener y ofrecer los mejores productos tanto propios como importados.
            
            Te damos la bienvenida a nuestro nuevo sitio Web. Seguimos apostando a ofrecer y mejorar nuestra atención.
            
            Seguinos en nuestras redes sociales para enterarte de nuevos lanzamientos, productos, nuevas sucursales y más…</p>
    </div>
</section>
